#ant-count{
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 150px;
}

#ant-count table th,td{
  padding: 0;
  margin: 0;
  line-height: 100%;
}


#ant-count table td{
  display: inline-block;
  width: 50px;
  justify-content: center;
  align-items: center;
}

#ant-count table th{
  text-align: right
}

#ant-count table td.data{
  width: 50px;
}

#ant-count table td.effect{
  width: 30px;
  animation: pulse 2s linear infinite alternate;
}

.info-tooltip{
  width: 300px;
}


@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
