#ant-count{
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 120px;
}

#ant-count table{
  width: 100%
}

#ant-count table td{
  display: inline-block;
  width: 60px;
  justify-content: center;
  align-items: center;
}
