.sidebar{
  flex-basis: 200px;
  flex-grow: 2;
  border: 2px solid pink;
}



.sidebar .status-section {
  border: 2px solid green;
  margin-top: 5px;
}

.sidebar .status-section .sub-section{
  border: 2px solid green;
  display: inline-flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px
}

.sidebar .status-section .sub-section.home{
  flex-direction: column;
  display: flex;

}

.status-section:nth-child(1){
  border: 2px solid white;
  display: flex;
  justify-content:space-around;
}
