#risk-count .increasing{
  color: green;
}
#risk-count .decreasing{
  color: red;
}

#risk-count .data{
  min-width: 90px;
}

#risk-count td:nth-child(3){
  display: inline-block;
  min-width: 20px;
  width: 2rem;
}
