#store-count{
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 160px;
}

#store-count table td{
  display: inline-block;
  justify-content: center;
  align-items: center;
}

#store-count table tr th{
  text-align: right;
}

#store-count table tr td.data{
  min-width: 75px;
}
#store-count table tr td.effect{
  min-width: 30px;
  animation: pulse 2s linear infinite alternate;

}


#store-count table th,td{
  padding: 0;
  margin: 0;
  line-height: 100%;
}


@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}