#store-count{
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 120px;
}

#store-count table td{
  display: inline-block;
  justify-content: center;
  align-items: center;
}

#store-count table tr th{
  text-align: right;
}

#store-count table tr td.data{
  min-width: 75px;
}
#store-count table tr td.effect{
  min-width: 30px;
}
