.App {
  text-align: center;
  display: flex;
  justify-content: center;
  border: 2px solid white;
  height: 100vh;
  overflow: hidden;
}

body, html{
  background-color: black;
  color: white
}



.mainscreen{
  flex-basis: 450px;
  flex-grow: 8;
  border: 2px solid green;
}

.invisible{
  opacity: 0;
  transition: 2s linear;
}

.fade-in{
  opacity: 1
}

.statusbar-enter{
  opacity: 0.01
}

.statusbar-enter-active{
  opacity: 1;
  transition: all 2s
}

.fade-appear{
  z-index: 1;
  opacity: 0;
}

.fade-appear.fade-appear-active{
  opacity: 1;
  transition: opacity 500ms linear;
}

.fade-exit{
  opacity: 1;
  z-index: 0;
}

.fade-exit.fade-exit-active{
  opacity: 0;
  transition: opacity 200ms linear;
}

.fade-exit-done{
  opacity: 0
}

.fade-enter{
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 500ms linear 5000ms;
}
