.enter-container{
  padding: 15%;
  transition: all 2s;
}

.enter-container div{
  margin-top: calc(5vh + 5rem);
  transform: translate(0, 70px);
  display: block;
}

.enter-container div .enterButton{
  opacity: 0;
}

.fade-appear{
  opacity: 0;
}

.fade-appear.fade-appear-active{
  opacity: 1;
  transition: opacity 500ms linear;
}

.fade-exit{
  opacity: 1;
}

.fade-exit.fade-exit-active{
  opacity: 0;
  transition: opacity 500ms linear;
}

.fade-exit-done{
  opacity: 0
}

.fade-enter{
  opacity: 0;
}

.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 500ms linear;
}
